*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size:97px;
}

a:link, a:visited{
    text-decoration: none;
    color:white;
}

.container{
    width: 670px;
    margin: 0 auto;
}

.hd-content{
    position: relative;
    height: auto;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    padding: 20px;
    font-weight: lighter;
    color: white;
    text-align: center;

}


.ft {
    margin: 0px;
    padding: 50px;
    background-color:rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 60px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}


.ft {
    padding: 50px;
    font-size: 20px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Noto Sans KR', serif;
}